@font-face {
    font-family: 'HylianFont'; 
    src: url('hylia-serif/Hylia\ Serif\ Beta\ v0-009/HyliaSerifBeta-Regular.otf'); 
} 

@font-face {
    font-family: 'WindWaker-title-subheading-font'; 
    src: url('WindWaker/ReggaeOne-Regular.ttf'); 
}

@font-face {
    font-family: 'SM64-font';
    src: url('SM64/TypefaceMario64-ywA93.otf');
}

@font-face {
    font-family: 'WindWaker-character-description-font';
    src: url('WindWaker/RocknRollOne-Regular.ttf');
}

@font-face {
    font-family: 'Oracles-character-subheading-font';
    src: url('Zelda Oracles/ZeldaOracles.ttf');
}