.one-px-solid-red{
    border: 1px solid red;
}

.opacity-zero{
    opacity: 0;
}


.position-relative{
    position: relative;
    
}

.display-none{
   display: none;
}

.opacity-one{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}